<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود</title>
    <link rel="stylesheet" href="/static/css/loginregister.css">
</head>

<body>
    <div class="signup-form">
        <!--sign up form-->
        <h2>ورود</h2>
        <form method="post" action="{% url 'login_page' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{login_form}}
            <button type="submit" class="btn btn-default">ورود</button>
        </form>
        <p>
            حساب کاربری ندارید؟از<a href="{% url 'register_page' %}"> اینجا </a>وارد شوید
        </p>
    </div>
    <!--/sign up form-->
</body>

</html>