@import url("https://fonts.googleapis.com/css?family=Samim:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800|Samim|Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap");
/* line 1, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_extend.scss */

*{
  font-family:  Samim  ; 
  
}

body {
  direction: rtl;
  text-align: right;
  color: #000000;
}

.signup-form {
  text-align: center;
  padding: 25px 30px 10px 30px;
  width: 500px;
  margin: 0 auto;
  max-width: 100%;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.signup-form h2 {
  font-weight: bold;
  border-bottom: 1px solid #000000;
  padding: 10px 5px;
}

.signup-form form {
  margin: 20px auto;
  display: flex;
  flex-direction: column; 
}

.signup-form form label {
    flex: 0 0 100px;
    text-align: right;
}

.signup-form form input {
  border-radius: 30px;
  background: none;
  border: 1px solid #000000;
  padding: 10px;
  margin: 10px 0 10px 0; 
  flex: 1; 
}

.signup-form form button {
  background: #c75b18;
  border-radius: 30px;
  color: #ffffff;
  border: none;
  padding: 10px 30px;
  margin-top: 20px;
  width: 120px;
  align-self: center; 
}

p>a {
  color: red;
}
