{% extends 'shared/layout.html' %}

{% block title %}تماس با ما{% endblock %}

{% block content %}
<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_2">
    <h3>در ارتباط بمانید</h3>
</div>
<!-- bradcam_area_end -->

<!-- ================ contact section start ================= -->
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="media contact-info">
                    <span class="contact-info__icon">
                        <i class="ti-home"></i>
                    </span>
                    <div class="media-body">
                        <h3>آدرس شعبه اصلی</h3>
                        <p>{{ site_setting.address }}</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon">
                        <i class="ti-tablet"></i>
                    </span>
                    <div class="media-body">
                        <h3>{{ site_setting.phone }}</h3>
                        <p>شنبه تا چهارشنبه 9 صبح تا 6 بعد از ظهر</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon">
                        <i class="ti-email"></i>
                    </span>
                    <div class="media-body">
                        <h3>{{ site_setting.email }}</h3>
                        <p>خوشحال میشیم به سوالاتتون پاسخ بدیم</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ contact section end ================= -->
{% endblock %}