{% extends 'shared/layout.html' %}
{% load thumbnail %}
{% load poll_extras %}

{% block title %}منو{% endblock %}

{% block content %}
<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay">
    <h3>منو</h3>
</div>
<!-- bradcam_area_end -->

<!-- best_burgers_area_start  -->
<div class="best_burgers_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center mb-80">
                    <span>منو برگرها</span>
                </div>
            </div>
        </div>
        <div class="row">
            {% for product in products %}
            <div class="col-xl-6 col-md-6 col-lg-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        {% thumbnail product.image '166' quality=95 crop='center' as im %}
                        <img src="{{im.url}}" alt="">
                        {% endthumbnail %}
                    </div>
                    <div class="info">
                        <h3>{{product.name}}</h3>
                        <p>{{product.short_description}}</p>
                        <span>{{product.price | three_digits_currency}}</span>
                        <span class="product-buy-box">
                            <label for="productCount">تعداد :</label>
                            <input type="number" min="1" id="productCount" value="1" class="search_box">
                            <button onclick="addProductToOrder('{{ product.id }}')" class="btn cart">
                                <i class="fa fa-shopping-cart"></i>
                                افزودن به سبد خرید
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- best_burgers_area_end  -->
{% endblock %}