<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                {% for category in footer_category %}
                <div class="col-xl-6">
                    {% for link in category.footerlink_set.all %}
                    <div class="footer_widget text-center ">
                        <h3 class="footer_title pos_margin">
                            {{category}}
                        </h3>
                        <p>{{link.address}}<br>
                            <a href="#">{{link.website}}</a>
                        </p>
                        <p>{{link.phone}}</p>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                        {{site_setting.copy_right}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>